@import 'tailwindcss';

@theme {
  --color-primary: #0056b3;
  --color-secondary: #6fa4e9;
  --color-terciary: #002b4f;
  --color-light-gray: oklch(0.99 0.0146 98.28);
  --color-midle-gray: #e6e6e6;
  --color-dark-gray: oklch(0.5 0.01 270);
  --color-coral: #ff6347;

  --font-calibri: 'Calibri Light', sans-serif;
  --font-trebuchet: 'Trebuchet MS', sans-serif;

  --background-image-logo: url('./src/assets/logo.webp');

  --animate-link-animate: link-animate 0.3s ease-in-out;

  /* collapsible animates */
  --animate-slideDownCollapsible: slideDownCollapsible 0.3s ease-in-out;
  --animate-slideUpCollapsible: slideUpCollapsible 0.3s ease-in-out;

  @keyframes link-animate {
    0% {
      width: 0;
    }
    100% {
      width: 100%;
    }
  }
  @keyframes slideDownCollapsible {
    from {
      height: 0;
    }
    to {
      height: var(--radix-collapsible-content-height);
    }
  }
  @keyframes slideUpCollapsible {
    from {
      height: var(--radix-collapsible-content-height);
    }
    to {
      height: 0;
    }
  }
}

@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-midle-gray, currentcolor);
    scroll-behavior: smooth;
  }
  body {
    background: var(--color-light-gray);
    color: var(--color-terciary);
    font-family: var(--font-calibri);
    font-size: larger;
  }

  h1,
  h2,
  h3 {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande',
      'Lucida Sans', Arial, sans-serif;
    font-size: large;
    font-weight: bold;
  }

  a {
    font-family: 'Trebuchet MS', sans-serif;
    font-size: large;
  }
}

@utility link-custom {
  @apply text-secondary after:absolute after:bottom-0 after:left-0 after:h-[2px] after:bg-secondary after:w-full;
}

@font-face {
  font-family: 'Calibri Light';
  font-style: normal;
  font-weight: normal;
  src: url('./assets/fonts/calibril.woff') format('woff');
}

@font-face {
  font-family: 'Trebuchet MS';
  font-style: normal;
  font-weight: normal;
  src: url('./assets/fonts/trebuc.woff') format('woff');
}
